@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../public//fonts/fontiran.css);

* {
  direction: rtl;
}

.node circle {
  scale: 3.5;
}

.node text {
  rotate: -90deg;
  transform: translate(-0.05rem, 0);
}

.node {
  cursor: pointer;
}